<!doctype html>
<html>
<head>
    <title>Bookworm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="css/font-awesome.min.css" rel="stylesheet" media="screen" />
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="css/shared.css" rel="stylesheet" />
</head>
<body>
    <div id="fb-root"></div>
    <div id="wrap" class="container">
        <div id="main-header">
            <p><span class="green">book</span>worm</p>
        </div>
        <div id="start">
            <p>Bookworm is a directory of free, ready to read and download ebooks from various sources.
               You can rate books, or write reviews based on your own experience.</p>
            <a href="/books" class="btn btn-large btn-block" id="viewbooks">Start Browsing</a>
        </div>
        <div id="mlogin">
            <span id="fbrep"><i class='icon-spinner icon-spin icon-large'></i> Please wait..</span>
        </div>

        <div id="push"></div>
    </div>
    <div id="footer">
        <div class="container">
            <p class="credit">
                <a href="/" class="nostyle"><i class="icon-home icx"></i> Home</a>
                <a href="/books" class="nostyle"><i class="icon-book icx"></i> Books</a>
                <a href="/admin" class="nostyle"><i class="icon-meh icx"></i> Admin</a>
                <span class="fright ftext"><span class="green">book</span>worm</span>
            </p>
        </div>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/holder.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/fb.js"></script>
</body>
</html>
